$transition-time: 0.3s;
$dark-gray: lighten(black, 15%);

.spotlight{
    width: 100%;
    height: 450px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .card{
        height: 47.2%;
        width: 31%;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 115% auto;
        transition: $transition-time;

        &:first-child, &:last-child{
            height: 100%;
        }
        &:last-child{
            cursor: default;
            background-color: $dark-gray;
            padding: 10px;

            .title{
                text-align: center;
                color: white;
                font-weight: bold;
                font-size: 22px;
                margin-bottom: 20px;
            }
            .news-list{
                overflow: hidden;
                height: 350px;
                
                p{
                    display: inline-block;
                }
                a{
                    display:inline-block;
                    color: white;
                    font-size: 16px;
                    line-height: 32px;
                    text-decoration: none;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        &:nth-child(2){
            margin-bottom: 25px;
        }
        &:hover{
            background-size: 120% auto;
        }
        .text{
            position: absolute;
            bottom: 10px;

            p{
                color: white;
                font-size: 20px;

                &:last-child{
                    margin-top: -3px;
                    margin-bottom: 10px;
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 35px;
                }
            }
        }
    }
    @media screen and (max-width: 1023px), (max-width: 1080px) and (min-height: 1366px){
        flex-flow: row wrap;
        
        .card{
            width: 100%;
            margin-bottom: 25px;
        }
    }
}