$transition-time: 0.3s;

.home-container{
    margin-top: 25px;
    padding-bottom: 25px;

    .news-info{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        @media screen and (max-width: 1023px), (max-width: 1080px) and (min-height: 1366px) {
            margin-top: 950px; // temporary
        }
    }
}