<div class="info">
    <div class="ip">
        <div class="card">
            <div class="card-body">
                <h3>Versão 1.5.2</h3>
                <p class="ip-address">JOGAR.MOMENTCRAFT.COM.BR</p>
                <button id="btn-ip" onclick="copyIP((this), $('#btn-ip'))">COPIAR IP</button>
                <p class="ip-info">Recomendamos que você utilize o <span class="font-weight-bold">anti-hack</span> para jogar no servidor.</p>
            </div>
        </div>
    </div>

    <div class="discord">
        <div class="card">
            <div class="card-body">
                <iframe class="discord-widget" src="https://discordapp.com/widget?id=570650071243161603&theme=light" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
        </div>
    </div>
</div>