<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="div-left" style="float: left">
            <a href="/.">
                <button class="nav-button">
                    INÍCIO
                </button>
            </a>
            <a href="#">
                <button class="nav-button">
                    ANTIHACK
                </button>
            </a>
            <a href="#">
                <button class="nav-button">
                    LOJA
                </button>
            </a>
            <a href="#">
                <button class="nav-button">
                    AUTENTICAR
                </button>
            </a>
            <a href="#">
                <button class="nav-button">
                    BANIMENTOS
                </button>
            </a>
            <a href="#">
                <button class="nav-button">
                    CHANGELOG
                </button>
            </a>
        </div>

        <div class="div-left" style="float: left">
            <a href="/admin">
                <button class="nav-button">
                    <i class="fa fa-user-o"></i>
                </button>
            </a>
        </div>
    </div>
</nav>