{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{/each}}

<h2 class="text-center font-weight-bold mb-3">ADICIONAR NOVIDADE</h2>
<hr>

<div class="div-functions">
    <a href="/admin/novidades"><button class="btn btn-gray"><i class="fa fa-chevron-left"></i></button></a>
    <form action="/admin/novidades/adicionar" method="POST">
        <button class="btn btn-green"><i class="fa fa-check"></i></button>
</div>

<div class="card card-form mt-4 mb-4">
    <div class="card-body card-form">
        <label for="author" class="font-weight-bold">Autor*</label>
        <select name="author" class="custom-select">
            <option value="" selected disabled hidden>Selecione um autor</option>
            <option value="Bezouro">Bezouro</option>
            <option value="iLuanaXDD">iLuanaXDD</option>
            <option value="NinguemNunka">NinguemNunka</option>
            <option value="JBenicio">JBenicio</option>
        </select>

        <label for="title" class="font-weight-bold mt-4">Título*</label>
        <input type="text" id="title" class="form-control" name="title">

        <label for="subtitle" class="font-weight-bold mt-4">Subtítulo*</label>
        <input type="text" id="subtitle" class="form-control" name="subtitle">

        <label for="content" class="font-weight-bold mt-4">Conteúdo*</label>
        <textarea name="content" class="form-control"></textarea>

        <label for="slug" class="font-weight-bold mt-4">Slug*</label>
        <input type="text" id="slug" class="form-control" name="slug">

        <label for="spotlight" class="font-weight-bold mt-4">Destaque</label>
        <select name="spotlight" class="custom-select">
            <option value="0" selected>Não destacar</option>
            <option value="1">Destacar em primeiro</option>
            <option value="2">Destacar em segundo</option>
            <option value="3">Destacar em terceiro</option>
        </select>

        <label for="backgroundImage" class="font-weight-bold mt-4">Imagem de fundo</label>
        <input type="text" id="backgroundImage" class="form-control" name="backgroundImage">

        <label for="spotlightTitle" class="font-weight-bold mt-4">Título em destaque</label>
        <input type="text" id="spotlightTitle" class="form-control" name="spotlightTitle">
    </div>
</div>
</form>