.header{
    background-color: black;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        p{
            position: absolute;
            color: white;
            left: 0;
            margin-left: 30px;
            @media screen and (max-width: 1023px), (max-width: 1080px) and (min-height: 1366px){
                display: none;
            }
            
            strong{
                font-size: 30px;
            }
        }
        img{
            max-height: 90%;
            max-width: 100%;
        }
    }
}