$dark-gray: lighten(black, 15%);

nav{
    height: 60px;
    background-color: $dark-gray;
    user-select: none;
    padding: 0 !important;

    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        
        div{
            height: 100%;

            button{
                height: 100%;
                padding-left: 25px;
                padding-right: 25px;
                background-color: rgba(black, 0%);
                color: white;
                font-weight: bold;
                letter-spacing: 1px;
                cursor: pointer;

                &:hover{
                    background-color: lighten(black, 12%);
                }
            }
        }
    }
}