@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// VARIABLES
$transition-time: 0.3s;
$opacity-default: 0.6;
$dark-gray: lighten(black, 15%);

$paypal: #009cde;
$pagseguro: #73b843;
$mercadopago: #01adef;
$picpay: #21c25e;

$discord: #6f85d4;
$facebook: #4267b2;

// GLOBAL
*, p, h1, h2, h3, h4, a{
    font-family: 'Ubuntu', sans-serif !important;
    border: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ececec;
}